.general{
    min-width: 900px;
    max-width: 1500px;
}
.picture{
    background: url('../img/checkersBackground.png');
    background-size: cover;
    padding: 20% 0 5% 0;
}
.footer{
    text-align: center;
}
.modal-window{
    width: 30%;
    margin: auto;
    height: 250pt;
    background-color: white;
    min-width: 200pt;
}
#userName
{
    margin: 1%;
}
#pole{
    margin: auto;
    width: 70%;
}
#pole td{
    height: 60pt;
    width: 60pt;
}
.whiteCell
{
    background-image: url("../img/whiteCell.png");
    background-size: cover;
}
.blackCell
{
    background-image: url("../img/blackCell.png");
    background-size: cover;
}

.checker{
    width: 82%;
    margin-left: 6pt;
}

#pole td.checker{
    border: 2pt solid rgba(0,0,0,0);
}

#table
{
    background-image: url("../img/table.png");
}
.info{
    float: left;
    position: absolute;
    margin-top: 3%;
    color: aliceblue;
    width: 14%;
}
#currentTurn{
    width: 80%;
}
.selectedCell{
    border: 2pt solid orange;
}
.statistic{
    overflow: hidden;
    width: 45%;
    margin: auto;
    text-align: center;
}
.gameResult{
    font-weight: bold;
    padding-bottom: 25pt;
    margin-bottom: 5pt;
}
.panel-body{
    max-height: 270pt;
    overflow: overlay;
    padding: 15px;
}